<% include ./partials/header.ejs %>

<h1>Craig Seifried</h1>
<p>Craig is father to all five children; David, Ryan, Mathew, Racheal and Ethan. He has been half owner of his industrial snow removal business <a href="http://aerodrome.ca" title="www.aerodrome.ca">Aerodrome International Maintenance</a> since 2003. Additionally, Craig is also into thoroughbred racing, solar energy and is part owner of the farm where him and his family live and work.</p>

<% include ./partials/footer.ejs %>
