<% include ./partials/header.ejs %>

<h1>Daivd Seifried</h1>
<p>David is the oldest of the 5 children and full brother to Ryan Seifried. He is a programmer currently working for <a href="https://corp.hapyak.com/" title="Hapyak website">Hapyak</a> out of Boston.</p>

<% include ./partials/footer.ejs %>
