<% include ./partials/header.ejs %>

<h2>The Seifrieds Are a Hectic Bunch</h2>
<p>With 14ish horses, 3 dogs, 2 cats and a house pig, the Seifried household is always crazy! Select a name from above to read more about each member of the family.</p>

<% include ./partials/footer.ejs %>
