<% include ./partials/header.ejs %>

<h1>Mathew Seifried</h1>
<p>Mathew is the middle child. He enjoys computers, photography, cars and web technologies such as web programming languages and cryptocurrencies. Mathew works part time as a heavy equipment operator, technical support person and web developer.</p>

<% include ./partials/footer.ejs %>
