<% include ./partials/header.ejs %>

<h1>Racheal Seifried</h1>
<p>Racheal is the second youngest and the only female child to Brenda and Craig. She enjoys animals, especially her <a href="https://instagram.fyzd1-1.fna.fbcdn.net/t51.2885-15/e35/14309810_615099148698150_293014026_n.jpg" title="Picture of dog">St. Bernard</a> that randomly showed up at home one day (her parents were thrilled). Racheal is about to start college to become a Vet Tech.</p>

<% include ./partials/footer.ejs %>
