<% include ./partials/header.ejs %>

<h1>Ryan Seifried</h1>
<p>Ryan Seifried is the second oldest and full brother to David Seifried. He is the president of <a href="http://aerodrome.ca" title="www.aerodrome.ca">Aerodrome International Maintenance</a> and also the head of maintenance working alongside the vice-president Jeff Parke.</p>

<% include ./partials/footer.ejs %>
